// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
  overflow-x: hidden
}

.big {
    font-size: 3em;
}

.rightbar-dark .brand-list{
  border: 3px solid white;
  color: white;
}
.rightbar-dark .brand-list:hover, 
.rightbar-dark .brand-list:focus {
  background-color: white;
  color: black;
}

.brand-list {
  letter-spacing: 3px;
  list-style-type: none;
  font-weight: bold;
  padding: 10px 5px;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  margin-left: 0px;
  margin-bottom: 10px;
  width: 75%;
}

@media only screen and (max-width: 1058px) and (min-width: 888px){
  .brand-list{
    font-size: 10px;
    margin: 10px 0;
  }
  .darkMode-tog-c .text-h2{
    font-size: 15px;
  }
}
@media only screen and (max-width: 888px) and (min-width: 768px){
  .brand-list{
    font-size: 8px;
    margin: 10px 0;
  }
  .darkMode-tog-c .text-h2{
    font-size: 10px;
  }
  
}

.brand-list:before{
  transition: 0.5s all ease;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: black;
  z-index: -1;

}
.brand-list:hover, .brand-list:focus {
  color: white;
}

.brand-list:hover:before, .brand-list:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.brand-list:active {
  transform: scale(0.9);
}













.brand-anchor {
    text-decoration: none;
    color: #F9F9F9;
    cursor: pointer
}

.brand-anchor:hover {
    color: #FFFFFF;
}

.brand-list:hover {
    background-color: #2c3236;
}

.dashboard {
    background-image: url("../images/bg2.jpg");
    // background-image: url({{url('images/bg.jpg')}});
    height: 100px;
    background-color: #cccccc;
}

.text-sriracha {
    font-family: 'Sriracha', cursive;
}

.text-roboto {
    font-family: 'Roboto', sans-serif;
}

.fight-btn {
    background-color: #D3561C;
    padding: 10px 40px;
    border-radius: 50px;
    border: 0px;
    font-size: 1.5em
}

.fight-btn:hover {
    background-color: #963f16;
    color: #DDDDDD
}

.pseudo-link {
    color: #0D6DFD;
    cursor: pointer;
}

.page-link {
    cursor: pointer;
}

.shoe-review-link {
  color: #D3561C;
  cursor: pointer;
  text-decoration: none;
}

.shoe-review-link:hover {
  font-weight: 600;
  color: #D3561C;
}

.shoe-comparison-list {
    border: 1px solid #CBCBCB;
    text-decoration: none;
    border-radius: 10px;
    color: #D3561C
}

.shoe-comparison-list:hover {
    color: #953b11;
    font-weight: 600
}

.w-40 {
    width: 40%;
}

.reviews-hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 30px;
    margin: auto;
    border: 1.5px solid black !important;
}

.mtb-05 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important
}

.review-block {
    background-color: white;
    border-radius: 5px
}

.sub-text {
    color: #666666;
    font-size: 0.9em
}

.orange {
    color: #D3561C;
}

.range-slider {
    width: 100%;
    // margin: auto;
    // text-align: center;
    position: relative;
    height: 6em;
  }
  
  .range-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    -moz-appearance: textfield;
  }
  
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  // input[type=number]:invalid,
  // input[type=number]:out-of-range {
  //   border: 2px solid #ff6347;
  // }
  
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3;
  }
  
  input[type=range]:focus::-ms-fill-lower {
    background: #2497e3;
  }
  
  input[type=range]:focus::-ms-fill-upper {
    background: #2497e3;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  
  input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }

  .sidebar {
    overflow-y: auto;
    top: 0;
    bottom: 0;
  }

  .min-height {
    max-height: calc(110vh - 9rem);
  }

  .gray {
    color: gray;
  }

  .margin-sold {
    margin: 0px 3px 0px 5px
  }

  .brand-logo {
    height: 60px;
    width: 80px;
    float: right;
  }

  .brand-logo-lv {
    height: 60px;
    width: 60px;
    float: right;
  }

  .brand-logo-nike {
    height: 50px;
    width: 80px;
    float: right;
  }

  .brand-logo-timberland {
    height: 100px;
    width: 120px;
    float: right;
  }

  .brand-logo-width {
    height: 50px;
    width: 120px;
    float: right;
  }
  .bottom-color {
    background-color:#31383c;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden; 
    align-content: center;
  }

.bottom-color li{
  width: auto;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  padding: 0px 15px 0px 0px;
  margin: 15px 0px;
}

  .bottom {
    color: rgb(209, 207, 207);
    display:flex;
    text-align: center;
    text-indent:15px;
    padding-top:8px;
    justify-content: center;
  }

  // BUTTON FOR DARK MODE
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: gray;
    border-radius:20px;
    margin-left: 15px;
  }

  .switch input{
    opacity: 0;
    width: 0;
    height: 0;
  }

  .darkMode-tog-button{
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    transition: .4s;
    border-radius: 34px;
  }

  .darkMode-tog-button:before{
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked+.darkMode-tog-button {
    background-color: green;
  }

  input:focus+.darkMode-tog-button{
    box-shadow: 0 0 1000px #953b11;
  }

  input:checked+.darkMode-tog-button:before {
    transform:translateX(26px);
    background-color: black;
  }
  /* Shared transition for dark mode toggles */
  .darkMode-tog,
  .darkMode-tog-c,
  .darkMode-tog-p {
    transition: background-color 0.3s ease;
  }

  /* Brand bar on the right */
  .rightbar-light,
  .rightbar-dark {
    background-color: #ffffff;;
    border-radius: none;
  }
  
  .rightbar-dark {
    background-color: #343a40 !important;
  }    

   .rightbar-light  .text-h2{
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 20px;
    padding:20px;
  }

  .rightbar-dark .text-h2{
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 20px;
    padding:20px;
  }
  

  /* Changes color of the thingy of search box and catalog area */
  .page-light {
    background-color: #FFFFFF !important;
    padding: 1px;
    color: black;
  }

  .page-dark {
    background-color: #3b3b3b !important;
    border: 2px solid #FAF9F8;
  }

  /* Changes text color if element has text-c class */
  .page-dark .text-c,
  .bg-dark .text-c , 
  .rightbar-dark .text-c{
    color: #ffffff;
  }

  .page-light .text-c,
  .bg-light .text-c,
  .rightbar-light .text-c{
    color: #3b3b3b;
  }


  

  /* Footer CSS */
  .footer-links{
    align-content: center;
  }

  .page-light .img-border {
    border: 4px solid #FFFFFF; 
  }

  .img-border {
    border: 4px solid darkgray; 
    border-radius: 15px;
    background-color: #FFFFFF !important;
    display: inline-block;
    overflow: hidden;
  }

  .img-border img {
      display: block;
      width: 100%;
      height: auto;
  }
  
